@import url(https://fonts.google.com/specimen/Oxanium?query=oxanium);

*{box-sizing: border-box;
 padding: 0;
 margin: 0;

}

body{
 text-align: center;
 padding: 0.6rem;
 background-color: rgb(26, 26, 26);

}

header img{

 width: 45%;
 margin-top: 2%;

}


main{
    display: inline-block;
    margin-top: 7%;
    padding: 15px;
    position: relative;


}
.pokedex{

 width: 100%;
 max-width: 89%;
 margin-top: 4%;


}

 .pokemon__image{
    width: 13%;
    height: 14%;
    position: absolute;
    left: 38%;
    bottom: 56.8%;
    transform: translate(-75%, 75%);
 
   
  

}



#inputValue{

  width: 50%;
  height: 25px;
  border-radius: 4px;
  outline: none;
  border: none;
  text-align: center;
  

}

#BtnBuscar{

    width: 15%;
    height: 25px;
    border-radius: 4px;
    background-color: rgb(2, 12, 118);
    color: #ffd500;
    font-weight: 700;
    outline: none;
  border: none;
  cursor: POINTER;
}

#btnPrev{

  position: absolute;
  left: 54.6%;
  bottom: 29.5%;
  background-color: rgb(74, 74, 77);
    color: #ffd500;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: POINTER;
    font-family: 'Oxanium', sans-serif;
    padding: 0.8%;
    width: 11%;

}

#btnNext{

    position: absolute;
    left: 66.7%;
    bottom: 29.5%;
    background-color: rgb(74, 74, 77);
    color: #ffd500;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: POINTER;
    font-family: 'Oxanium', sans-serif;
    padding: 0.8%;
    width: 11%;
  
  }

 

  

.PokemonName{

    position: absolute;
    right: 25.4%;
    bottom: 57.5%;
    text-transform: uppercase;
    font-family: 'Oxanium', sans-serif;
    font-size: clamp(8px, 5vw, 12px);
    color: #ffd500;}

